.advantages {
  padding-top: 60px;
  padding-bottom: 100px;
}

.advantages__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 220px;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  margin: 0 40px;
  margin-bottom: 40px;

  svg {
    margin-bottom: 20px;
    fill: $brown;
  }
}


@media (max-width: $tablet-width) {
  .advantages {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .advantages__item {
    max-width: 220px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin: 0 20px;
    margin-bottom: 40px;

    svg {
      width: 50px;
      height: 50px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .advantages {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .advantages__item {
    margin: 0;
    margin-bottom: 40px;
  }
}