.categories {
  padding-top: 20px;
  padding-bottom: 60px;
  background: linear-gradient(-6deg, $white 12%, $pink 12% 68%, $white 68%);
}

.categories .container {
  min-width: 60%;
}

.categores__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
}

.categories__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 240px;
}

.categories__item {
  text-align: center;
  font-size: 28px;
  line-height: 44px;

  img {
    width: 390px;
    height: 520px;
    object-fit: cover;
    margin-bottom: 20px;
  }

  &:nth-child(2n) {
    margin-top: 70px;
  }
}

.categories__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 170px;

  &:nth-child(2n) {
    .graduation-slider {
      order: 1;
    }
  }

  .lazy {
    object-fit: contain;
    margin: auto;
  }
}

.slick-slider {
  width: 920px;
  height: 630px;
  margin: 0 40px;
}

.slick-slide {
  height: 630px;
  object-fit: contain;
  outline: none;
  margin: auto;
  position: relative;
}

.categories__slider .slick-arrow {
  background: none;
  border: none;
  width: 54px;
  height: 54px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  outline: none;
  transform: translate(-50%, -50%);

  svg {
    height: 54px;
    fill: $brown;
  }

  &:hover {
    svg {
      fill: $grey;
      transition: fill 0.5s;
    }
  }
}

.categories__slider .slick-prev {
  left: -30px;
}

.categories__slider .slick-next {
  right: -60px;
  top: 45%;
  transform: rotate(180deg);
}

.slick-dots {
  list-style: none;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;
  max-width: 300px;
  outline: none;
}

.slick-dots button {
  background-color: $grey;
  border: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: rgba($brown, 0.8);
    transition: background-color 0.7s;
  }
}

.slick-active button {
  background-color: $brown;
}

.categories__slider-title {
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  text-align: center;
  max-width: 300px;
}

.mixed-slider .slick-slider {
  width: 900px;
}

.mixed-slider .slick-slide {
  height: 630px;
  margin-right: 20px;
}

@media (max-width: 1550px) {
  .categories__slider .slick-slider {
    width: 700px;

    .lazy {
      margin-top: auto;
      margin-bottom: 0;
    }
  }

  .mixed-slider .slick-slide {
    height: 470px;
  }
}

@media (max-width: $tablet-width) {
  .categories {
    padding-bottom: 20px;
  }

  .categories .container {
    width: 80%;
  }

  .categores__title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  .categories__list {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
  }

  .categories__item {
    font-size: 24px;
    line-height: 36px;
    margin: 0 20px;
    margin-bottom: 20px;

    img {
      width: 290px;
      height: 385px;
      margin-bottom: 20px;
    }

    &:nth-child(2n) {
      margin-top: 0;
    }
  }

  .categories__slider {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;

    &:nth-child(2n) {
      .graduation-slider {
        order: 0;
      }
    }

    &:last-child .slick-slider {
      height: 430px;
      width: 680px;
    }
  }

  .categories__slider .slick-arrow {
    width: 32px;
    height: 32px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .categories__slider .slick-prev {
    left: -10px;
  }

  .categories__slider .slick-next {
    right: -30px;
  }

  .slick-slider {
    width: 620px;
    height: 470px;
    margin: 0;
  }

  .slick-slide {
    height: 430px;
  }

  .slick-dots {
    max-width: 250px;
  }

  .categories__slider-title {
    font-size: 24px;
    line-height: 32px;
  }

  .mixed-slider .slick-slide {
    height: 380px;
  }
}

@media (max-width: $mobile-width-only) {
  .categories .container {
    width: 90%;
  }

  .categores__title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  .categories__list {
    margin-bottom: 40px;
  }

  .categories__item {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 20px;

    img {
      object-fit: contain;
    }

    &:nth-child(2n) {
      margin-top: 70px;
    }
  }

  .categories__slider {
    margin-bottom: 20px;

    &:last-child .slick-slider {
      width: 280px;
      height: 340px;
    }
  }

  .categories__slider .slick-slider {
    width: 320px;
  }

  .slick-slider {
    width: 320px;
    height: 260px;
  }

  .slick-slide {
    height: 220px;

    .lazy {
      height: 220px;
    }
  }

  .slick-dots {
    max-width: 250px;
  }

  .categories__slider .slick-arrow {
    display: none;
  }

  .categories__slider-title {
    font-size: 20px;
    line-height: 24px;
  }

  .mixed-slider .slick-slide {
    width: 290px;
    height: 300px;
    margin-right: 10px;

    img {
      height: 300px;
    }
  }
}
