.main-nav {
  margin-left: auto;
  margin-right: 60px;
}

.main-nav__toggle {
  display: none;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  min-width: 410px;
}

.main-nav__item a {
  &:hover,
  &:focus {
    color: $black;
    transition: color 0.4s ease-in-out;
  }

  &:active {
    color: rgba($black, 0.2);
    transition: color 0.1s ease-in-out;
  }
}


@media (max-width: $tablet-width) {
  .main-nav {
    margin: 0;
    order: 1;
  }

  .main-nav__toggle {
    display: block;
    margin-left: 30px;
    padding: 0;
    width: 50px;
    height: 33px;
    z-index: 2;
    border: 0;
    background-color: transparent;
    position: relative;
    outline: none;

    span {
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 5px;
      background-color: $brown;
      transition: transform 0.4s ease-in-out;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $brown;
        border-radius: 5px;
        top: 0;
        transition: transform 0.4s ease-in-out;
      }

      &::before {
        transform: translate(0, 2px);
      }

      &::after {
        transform: translate(0, 28px);
      }
    }
  }

  .main-nav__list {
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    margin-top: 40px;
  }

  .main-nav__item {
    min-width: 100%;
    padding: 20px;
    padding-left: 40px;
    font-size: 24px;
    border-bottom: 1px solid rgba($brown, 0.4);
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 22px;
      height: 24px;
      top: 23px;
      right: 45px;
      background-image: url('../img/icon-arrow-right.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .main-nav--closed {
    .main-nav__list {
      display: none;
    }
  }

  .main-nav--opened {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    min-width: 100%;
    min-height: 100%;
    z-index: 3;

    .main-nav__toggle {
      margin-left: auto;
      margin-right: 40px;
      margin-top: 20px;
    }

    span {
      transform: rotate(180deg);
      height: 0;
      width: 50px;
    }

    span::before,
    span::after {
      width: 85%;
    }

    span::before {
      transform: translate(0, 0) rotate(45deg);
    }

    span::after {
      transform: translate(0, 0) rotate(-45deg);
    }
  }
}