img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: currentcolor;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

.container {
  width: 1400px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1400px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
  }
}

@media (max-width: $tablet-width) {
  .container {
    width: 720px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .container {
    width: 300px;
    margin: 0 auto;
    padding: 0;
  }
}

@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"),
    url("../fonts/Montserrat-Light.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
}
