// Colors

$pink: #ede1dc;
$brown: #786f6f;
$grey: #c4c4c4;
$white: #ffffff;
$black: #000000;
$rose: #c39898;

//Resolutions

$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width-only: 767px;
