@import "normalize.scss";
@import "global/variables.scss";
@import "global/global.scss";
@import "blocks/page-body.scss";
@import "blocks/header.scss";
@import "blocks/main-nav.scss";
@import "blocks/advantages.scss";
@import "blocks/categories.scss";
@import "blocks/order.scss";
@import "blocks/reviews.scss";
@import "blocks/price.scss";
@import "blocks/delivery.scss";
